.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
margin-left: 40px;
   
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 45px;

}
.cart-container{
   border-radius: 30px 0px 0px 30px;
   background-color:rgb(238, 235, 232); 
   
}

 @media screen and ( max-width: 700px) {
    .products-container{
        grid-template-columns:  1fr ;
    }
}  
 /* @media screen and ( max-width: 500px) {
    .main-container{
        grid-template-columns:  1fr 1fr;
    }
}   */

