.product img{
    width: 300px;
    height: 300px;
    padding-top:10px  ;
    padding-left: 10px;
    border-radius: 30px 15px;
   
} 
.product {
width: 320px ;
height: 570px;
border: 5px solid rgb(129, 219, 219);
border-radius: 20px;
background-color:rgb(238, 235, 232); 
position: relative;
}

.info{
    margin-left: 20px;
}

.cart-btn{
    width: 100%;
    background-color:rgb(196, 230, 230);
    border-radius: 0px 0px 15px 15px;
    border: none;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn .btn-text{
margin-right: 10px;
}
.cart-btn p{
    font-weight: 700;
    font-size: 16px;
}
.cart-btn:hover{
    background-color:aqua ;
    cursor: pointer;
}